<div class="container">

  <h4>Benchmark</h4>
  <p>This is a simple benchmark to show the differences in the Model/$watch and $broadcast/$on methodologies. Open your Activity Monitor or Task Manager to view CPU usage for each benchmark.</p>

  <div class="row">
    <div class="span6">
      <div class="well">
        <h4>Model/$watch</h4>
        <div>Update the bound Model 100,000 times</div>
        <button class="btn" ng-click="benchWatch()">Bench Model/$watch</button>
        <p my-watch-directive></p>
        <p>Elapsed: {{ time.watch | number }} ms</p>
      </div>
    </div>

    <div class="span6">
      <div class="well">
        <h4>$broadcast/$on</h4>
        <div>Fire event 100,000 times</div>
        <button class="btn" ng-click="benchBroadcast()">Bench $broadcast/$on</button>
        <p my-event-directive></p>
        <p>Elapsed: {{ time.event | number }} ms</p>
      </div>
    </div>
  </div>

</div>